﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Site.Master" AutoEventWireup="true" CodeBehind="Content.aspx.cs" Inherits="pastebin.Content" %>
<asp:Content ID="Content" ContentPlaceHolderID="MainContent" runat="server">
    <asp:Label ID="text" runat="server"></asp:Label>
</asp:Content>
