﻿<%@ Page Title="Home Page" Language="C#" MasterPageFile="~/Site.Master" AutoEventWireup="true" CodeBehind="Default.aspx.cs" Inherits="pastebin._Default" %>

<asp:Content ID="BodyContent" ContentPlaceHolderID="MainContent" runat="server">

    <asp:TextBox runat="server" id="TextArea" TextMode="multiline"  class="col-md-10"></asp:TextBox>  

    <asp:Button ID="submitButton" runat="server" OnClick="submitButton_Click" Text="Submit"  />
</asp:Content>
